[Desktop Entry]
Type=Application
Version=1.0
Name=Stepmania
Path=/stepmania
Exec=/home/stepmania/start-stepmania.sh
Terminal=true
Icon=/stepmania/icons/hicolor/256x256/apps/stepmania-ssc.png
