[Desktop Entry]
Type=Application
Version=1.0
Name=Stepmania
Path=/opt/stepmania
Exec=/home/stepmania/start-stepmania.sh
Terminal=true
#Icon=/opt/stepmania/icons/hicolor/scalable/apps/stepmania-ssc.svg
Icon=/home/stepmania/.stepmania-5.1/Themes/Simply-Love-SM5/Graphics/Common splash.png
